/* Estilo principal para o Card */
.playerCard.card {
    background-color: #414142; 
    border-radius: 8px; 
    margin-bottom: 15px;
    border: 3px solid transparent; /* Define uma borda inicial */
    transition: border-color 0.3s ease; /* Suaviza a mudança da borda */ 
  }
  
.playerCard.card:hover {
    cursor: pointer;
    transform: scale(1.01); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-color: white; 
}

.playerCard .cardImage {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    object-fit: cover; 
}

.playerCard .playerCardBody {
    color: white; 
    padding: 10px; 
}

.customCardLink {
    text-decoration: none; 
}
  