body, #root {
    background-color: #151415; 
    color: #fff;
    font-family: 'Funnel Sans', sans-serif;
    min-height: 100vh; 
}

.container {
    background-color: #353533;
}

.imageResize {
    width: 30px;          
    height: 30px;         
    object-fit: contain;  /* Mantém as proporções da imagem */
}

.customLink {
    text-decoration: none;
    color: inherit; 
}
  
.customLink:hover {
    text-decoration: underline; 
    cursor: pointer; 
}