body, #root {
    background-color: #151415; 
    color: #fff;
    font-family: 'Funnel Sans', sans-serif;
    min-height: 100vh; 
}

* {
    font-size: 0.95rem;
}

.menu, .sidebarContainer {
    background-color: #353533;
}

.imageResize {
    width: 26px;          
    height: 26px;         
    object-fit: contain;  /* Mantém as proporções da imagem */
}

.customLink {
    text-decoration: none;
    color: inherit; 
}
  
.customLink:hover {
    text-decoration: underline; 
    cursor: pointer; 
}

.btn-custom {
    background-color: #ff4037 !important;
    border: none !important;
    color: white;
    padding: 8px 20px !important;
}

.btn-custom:hover {
    background-color: #c41c14 !important;
}

/* estilização para grupos de botões */
.btn-group {
    gap: 50px;                  
}

/* Regras comuns para ambos .btn-group e .btn-group-vertical */
.btn-group .btn, .btn-group-vertical .btn {
    background-color: transparent;
    border: none;
}

.btn-group .btn:hover, .btn-group-vertical .btn:hover {
    background-color: transparent;
    color: #ff4037;
    cursor: pointer;
    transform: scale(1.01);          
}

.btn-group .btn.active, .btn-group-vertical .btn.active {
    background-color: transparent;
    color: #ff4037;
}

.btn-group .btn.active:hover, .btn-group-vertical .btn.active:hover {
    background-color: transparent;
    color: #ff4037;
}