.custom-button {
    gap: 8px;                  
}

.custom-button .btn {
    background-color: transparent;
    border-radius: 5px;
}
.custom-button .btn:hover {
    cursor: pointer;           
}

.custom-button .btn.active {
    background-color: #ff4037;
    color: #ffffff;
}
.custom-button .btn.active:hover {
    color: #ffffff;
}

