.btn-group {
    gap: 5px;                  
}
  
.btn-group .btn {
    background-color: transparent;
    border: none;
}

.btn-group .btn:hover {
    color: #e07894;
    cursor: pointer; 
    transform: scale(1.1);          
}

.btn-group .btn.active {
    color: #c90036;
}

.btn-group .btn.active:hover {
    color: #9e042d;
}

.sidebar {
    padding: 10px; 
}